body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5px;
    line-height: 1.4px;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5px;
}

ul.posts li {
    list-style: none;
}
.Home {
    position:relative;
    top:1px;
    color: #5;
    font-size: 20px;  
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    padding: 10px 5px
    border-left: 1px solid;
}
